.profile {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .header {}

    &_form {
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        .fields {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            width: 500px;

            label {
                font-size: 14px;
            }
        }
    }

    &_buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}